In [8]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

In [78]:
import pandas as pd 
import numpy as np 

covid_data = pd.read_csv("covid.csv", parse_dates=["date"])

covid_data.head(10)

        date       county       state     fips  cases  deaths
0 2020-01-21    Snohomish  Washington  53061.0      1     0.0
1 2020-01-22    Snohomish  Washington  53061.0      1     0.0
2 2020-01-23    Snohomish  Washington  53061.0      1     0.0
3 2020-01-24         Cook    Illinois  17031.0      1     0.0
4 2020-01-24    Snohomish  Washington  53061.0      1     0.0
5 2020-01-25       Orange  California   6059.0      1     0.0
6 2020-01-25         Cook    Illinois  17031.0      1     0.0
7 2020-01-25    Snohomish  Washington  53061.0      1     0.0
8 2020-01-26     Maricopa     Arizona   4013.0      1     0.0
9 2020-01-26  Los Angeles  California   6037.0      1     0.0

In [79]:
covid_data.describe()

               fips         cases        deaths
count  2.479154e+06  2.502832e+06  2.445227e+06
mean   3.139958e+04  1.003380e+04  1.616100e+02
std    1.634251e+04  4.752522e+04  8.203335e+02
min    1.001000e+03  0.000000e+00  0.000000e+00
25%    1.902300e+04  3.820000e+02  6.000000e+00
50%    3.001100e+04  1.773000e+03  3.300000e+01
75%    4.611100e+04  5.884000e+03  1.010000e+02
max    7.803000e+04  2.908425e+06  4.026700e+04

In [84]:
covid_data[["state", "county"]][covid_data.deaths==covid_data["deaths"].max()]

               state         county
date
2022-05-13  New York  New York City

In [90]:
covid_data.reset_index("date", inplace=True )
covid_data.head()

        date     county       state     fips  cases  deaths
0 2020-01-21  Snohomish  Washington  53061.0      1     0.0
1 2020-01-22  Snohomish  Washington  53061.0      1     0.0
2 2020-01-23  Snohomish  Washington  53061.0      1     0.0
3 2020-01-24       Cook    Illinois  17031.0      1     0.0
4 2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [91]:
covid_data.set_index("date", inplace=True)
covid_data.head()

               county       state     fips  cases  deaths
date
2020-01-21  Snohomish  Washington  53061.0      1     0.0
2020-01-22  Snohomish  Washington  53061.0      1     0.0
2020-01-23  Snohomish  Washington  53061.0      1     0.0
2020-01-24       Cook    Illinois  17031.0      1     0.0
2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [104]:
# Missing data fill_na 

covid_data.isnull().sum()

county        0
state         0
fips      23678
cases         0
deaths    57605
dtype: int64

In [98]:
new_data=covid_data.fillna({"fips": 0.0000, "deaths": 0})

In [103]:
new_data.fillna(method="ffill").isnull().sum()## Carry on previous value

county    0
state     0
fips      0
cases     0
deaths    0
dtype: int64

In [105]:
covid_data.interpolate(method="time")

                county       state     fips  cases  deaths
date
2020-01-21   Snohomish  Washington  53061.0      1     0.0
2020-01-22   Snohomish  Washington  53061.0      1     0.0
2020-01-23   Snohomish  Washington  53061.0      1     0.0
2020-01-24        Cook    Illinois  17031.0      1     0.0
2020-01-24   Snohomish  Washington  53061.0      1     0.0
...                ...         ...      ...    ...     ...
2022-05-13  Sweetwater     Wyoming  56037.0  11088   126.0
2022-05-13       Teton     Wyoming  56039.0  10074    16.0
2022-05-13       Uinta     Wyoming  56041.0   5643    39.0
2022-05-13    Washakie     Wyoming  56043.0   2358    44.0
2022-05-13      Weston     Wyoming  56045.0   1588    18.0

[2502832 rows x 5 columns]

In [114]:
#delete missing value 

covid_data.dropna()

                county       state     fips  cases  deaths
date
2020-01-21   Snohomish  Washington  53061.0      1     0.0
2020-01-22   Snohomish  Washington  53061.0      1     0.0
2020-01-23   Snohomish  Washington  53061.0      1     0.0
2020-01-24        Cook    Illinois  17031.0      1     0.0
2020-01-24   Snohomish  Washington  53061.0      1     0.0
...                ...         ...      ...    ...     ...
2022-05-13  Sweetwater     Wyoming  56037.0  11088   126.0
2022-05-13       Teton     Wyoming  56039.0  10074    16.0
2022-05-13       Uinta     Wyoming  56041.0   5643    39.0
2022-05-13    Washakie     Wyoming  56043.0   2358    44.0
2022-05-13      Weston     Wyoming  56045.0   1588    18.0

[2421549 rows x 5 columns]

In [117]:
covid_data.dropna().isnull().sum()

county    0
state     0
fips      0
cases     0
deaths    0
dtype: int64

In [118]:
covid_data.tail()

                county    state     fips  cases  deaths
date
2022-05-13  Sweetwater  Wyoming  56037.0  11088   126.0
2022-05-13       Teton  Wyoming  56039.0  10074    16.0
2022-05-13       Uinta  Wyoming  56041.0   5643    39.0
2022-05-13    Washakie  Wyoming  56043.0   2358    44.0
2022-05-13      Weston  Wyoming  56045.0   1588    18.0

In [130]:
# Data Cleaning with replace function 
cat =pd.read_csv("catalog.csv")

cat.head(10)

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
0,34,3/2/07,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,"(38.600900000000003, -77.268199999999993)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html
1,42,3/22/07,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,"(40.517499999999998, -81.430499999999995)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...
2,56,4/6/07,NaN,NaN,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,...,"(40.4377, -79.915999999999997)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,The Pittsburgh Channel.com,https://web.archive.org/web/20080423132842/htt...
3,59,4/14/07,NaN,NaN,Canada,CA,Quebec,42786,Châteauguay,2.98682,...,"(45.322600000000001, -73.777100000000004)",Landslide,Riverbank collapse,Small,Rain,NaN,NaN,NaN,Le Soleil,http://www.hebdos.net/lsc/edition162007/articl...
4,61,4/15/07,NaN,NaN,United States,US,Kentucky,6903,Pikeville,5.66542,...,"(37.432499999999997, -82.493099999999998)",Landslide,Landslide,Small,Downpour,NaN,NaN,0.0,Matthew Crawford (KGS),NaN
5,64,4/20/07,NaN,NaN,United States,US,Kentucky,6903,Pikeville,0.23715,...,"(37.481400000000001, -82.518600000000006)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Applalachain news-express,http://www.news-expressky.com/articles/2007/04...
6,67,4/24/07,NaN,NaN,United States,US,South Dakota,2540,Dakota Dunes,2.48033,...,"(42.494100000000003, -96.457599999999999)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Sioux City Journnal,http://www.siouxcityjournal.com/articles/2007/...
7,77,5/21/07,NaN,SA,Colombia,CO,Risaralda,440118,Pereira,0.62022,...,"(4.8080999999999996, -75.694100000000006)",Landslide,Mudslide,Large,Rain,NaN,NaN,13.0,Reuters - AlertNet.org,http://www.reuters.com/news/video/videoStory?v...
8,105,6/27/07,NaN,SA,Ecuador,EC,Zamora-Chinchipe,15276,Zamora,0.47714,...,"(-4.0650000000000004, -78.950999999999993)",Landslide,Landslide,Medium,Downpour,NaN,NaN,NaN,Red Cross - Field reports,https://www-secure.ifrc.org/dmis/prepare/view_...
9,106,6/27/07,NaN,SA,Ecuador,EC,Loja,117796,Loja,0.35649,...,"(-3.99, -79.204999999999998)",Landslide,Landslide,Medium,Downpour,NaN,NaN,NaN,Red Cross - Field reports,https://www-secure.ifrc.org/dmis/prepare/view_...

In [ ]:

cat.describe()

In [ ]:
cat.shape

In [127]:
cat.isnull().sum()

id                         0
date                       3
time                    1064
continent_code          1529
country_name               0
country_code               0
state/province             1
population                 0
city/town                  4
distance                   1
location_description    1142
latitude                   1
longitude                  1
geolocation                1
hazard_type                0
landslide_type             1
landslide_size             1
trigger                    2
storm_name              1561
injuries                1178
fatalities               247
source_name              821
source_link              100
dtype: int64

In [146]:
cat["injuries"].dtype

dtype('float64')

In [148]:
cat.replace({"injuries": "NaN",
             "fatalities":"NaN"}, 0)

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
0,34,3/2/07,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,"(38.600900000000003, -77.268199999999993)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html
1,42,3/22/07,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,"(40.517499999999998, -81.430499999999995)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...
2,56,4/6/07,NaN,NaN,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,...,"(40.4377, -79.915999999999997)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,The Pittsburgh Channel.com,https://web.archive.org/web/20080423132842/htt...
3,59,4/14/07,NaN,NaN,Canada,CA,Quebec,42786,Châteauguay,2.98682,...,"(45.322600000000001, -73.777100000000004)",Landslide,Riverbank collapse,Small,Rain,NaN,NaN,NaN,Le Soleil,http://www.hebdos.net/lsc/edition162007/articl...
4,61,4/15/07,NaN,NaN,United States,US,Kentucky,6903,Pikeville,5.66542,...,"(37.432499999999997, -82.493099999999998)",Landslide,Landslide,Small,Downpour,NaN,NaN,0.0,Matthew Crawford (KGS),NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1688,7535,12/7/15,NaN,NaN,United States,US,North Carolina,1646,Tryon,7.80866,...,"(35.221899999999998, -82.322599999999994)",Landslide,Rockfall,Small,NaN,NaN,0.0,0.0,Tryon Daily Bulletin,http://www.tryondailybulletin.com/2016/02/26/u...
1689,7537,2/22/16,0:00,NaN,United States,US,West Virginia,51400,Charleston,6.84721,...,"(38.398699999999998, -81.584800000000001)",Landslide,Mudslide,Small,Unknown,NaN,0.0,0.0,Charleston Gazette,http://www.wvgazettemail.com/news/20160222/us-...
1690,7539,2/23/16,NaN,NaN,United States,US,West Virginia,2406,Welch,14.19735,...,"(37.409599999999998, -81.4268)",Landslide,Landslide,Small,Rain,NaN,0.0,0.0,Bluefield Daily Telegraph,http://www.bdtonline.com/news/officials-cautio...
1691,7540,2/26/16,21:06,NaN,United States,US,West Virginia,1048,Athens,12.00678,...,"(37.501100000000001, -81.109300000000005)",Landslide,Rockfall,Small,Unknown,NaN,0.0,0.0,Bluefield Daily Telegraph,http://www.bdtonline.com/news/rockslide-snarls...
1692,7541,3/2/16,8:00,NaN,United States,US,Vermont,2066,Windsor,1.78429,...,"(43.4771, -72.406599999999997)",Landslide,Rockfall,Small,Unknown,NaN,0.0,0.0,Valley News,http://www.vnews.com/home/21353539-95/loose-ledge